<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="cover">
    <el-tabs>
      <div class="form">
        <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
          <el-form-item label="姓名" prop="name">
            <el-input  v-model="form.name" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="性别" prop="sex">
            <el-input v-model="form.sex" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="身份证号" prop="id">
            <el-input v-model="form.id"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary">提交</el-button>
            <el-button @click="resetForm('form')">重置</el-button>
          </el-form-item>
        </el-form>
      </div>
      <el-tab-pane label="信息注册" name="first">
        
      </el-tab-pane>
      <el-tab-pane label="核酸查询" name="second">
        <!-- <div class="form">
      
        </div> -->
      </el-tab-pane>
      <el-tab-pane label="核酸预约" name="third">
        <div class="form">
      
        </div>
      </el-tab-pane>
    </el-tabs>
    
  </div>
</body>
</html>
<style>
*{
  margin: 0;
  padding: 0;
}
.form{
  padding: 5vh;
  width: 50%;
  margin-left: 25%;
  margin-top: 10vh;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}
</style>
<script src="js/vue.js"></script>
<script src="js/axios-0.18.0.js"></script>
<!--    引入样式文件-->
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
<script>
  new Vue({
          el:"#cover",
          data() {
            return {
              activeName: 'second',
              form: {
                name:'',
                phone:'',
                id:'',
                checkPlace:'',
                checkTime:'',
                isDanger:false
              }
            };
          },
          methods: {
            resetForm(formName) {
              this.$refs[formName].resetFields();
            }
          }
        })

</script>